extends ../base
block principal

    div.panel.panel-success
        div.panel-heading
            h1.panel-title
                strong #{nombreUsuario}
        div.panel-body
            div.panel.panel-default
                table.table.table-hover               

                    tr
                        th Id
                        th Dispositivo
                        th Evento
                        //th Número
                        th Texto
                        th Activa
                    each entrada, i in lista_rutinas
                        tr
                            td #{entrada.id_rutina}
                            td #{entrada.id}
                            td #{entrada.nombre}
                            //td #{entrada.numero}
                            td #{entrada.texto}

                            if entrada.activo == 0
                                td 
                                    a.span.glyphicon.glyphicon-remove.remove_hand(href='/rutinas/activar?idUsuario=#{user_id}&id_rutina=#{entrada.id_rutina}&activar=#{entrada.activo}')
                            else
                                td 
                                    a.span.glyphicon.glyphicon-ok.remove_hand(href='/rutinas/activar?idUsuario=#{user_id}&id_rutina=#{entrada.id_rutina}&activar=#{entrada.activo}')             
                            td
                                div.btn-group.group.pull-right
                                    a.btn.btn-default.btn-info(type='button', href='/rutinas/editar?idUsuario=#{user_id}&id_rutina=#{entrada.id_rutina}&id_disp=#{entrada.id}&id_evento=#{entrada.evento}')
                                        span.glyphicon.glyphicon-pencil

                                    if rutinas_delete
                                        a.btn.btn-default.btn-danger(type='button', href='/rutinas/remover?idUsuario=#{user_id}&id_rutina=#{entrada.id_rutina}')
                                            span.glyphicon.glyphicon-remove
                input(
                name='misRutinas',
                type='hidden',
                value='#{misRutinas}'
                )

            div.btn-group.group.pull-right
                a.btn.btn-success(href="/rutinas/agregar?idUsuario=#{user_id}") Agregar nuevo
                a.btn.btn-info(href='javascript:history.go(-1)') Regresar